.container .main_form_addKS .form_group .MyFormLabel{
    padding-left: 10px;
 }
.container .main_form_addKS .form_group .Mota textarea{
    width: 100%x;
 }
 .container .main_form_addKS  h3{
    text-align: center;
 }
 .container .main_form_addKS .button-submit{
    height: 30px;
 }
 .form-message {
   font-size: 1rem;
   line-height: 1.6rem;
   padding: 4px 0 0;
 }
 .form_group:hover {
   border-color: #1dbfaf;
 }

 .form_group.invalid .form-control {
   border-color: #f33a58;
 }
 
 .form_group.invalid .form-message {
   color: #f33a58;
 }

 input[type ="date"]{
   background-color: #cea456;
   padding: 15px;
   color: #ffffff;
   font-size: 18px;
   border: none;
   outline: none;
   border-radius: 5px;
 }