.hinh img{
    width: 700px;
    height: 350px; 
}
.content{
    width: 100%;
    padding-right: 90px;
    padding-left: 90px;
    margin-right: auto;
    margin-left: auto;
}
.content {
    text-align: center;
}